@charset "UTF-8";
/*--------------------------------------------------------------

This is the Profiles companion stylesheet for
the WordPress Twentyten theme.

This sheet supports the primary Profiles styles in profiles.css

If you are running as a child theme of twentyten this stylesheet will be
loaded by default. If you want to modify the styles the normal BP Theme Compat
hierarchy works and you can copy the file to profiles/css/ or community/css/
in your child themes root & either start over or modify the rulesets.

If you do not require the styles you can dequeue them from the themes functions file.

Please see this codex article for more information:
http://codex.profiles.org/themes/profiles-companion-stylesheets/

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Theme Structural Elements & overrides
2.0 - Navigation - General
	2.1 - Navs - Object Nav / Sub Nav (item-list-tabs)
	2.2 - Pagination
3.0 - Images
4.0 - BP Lists / Loops Generic
	4.1 - Activity Loop
		4.1.1 Whats New Activity
		4.1.2 - Activity Listing
		4.1.3 - Activity Comments
	4.2 - Members Loop
	4.3 - Groups Loop
	4.4 - Blogs Loop
5.0 - Directories - Members, Groups, Blogs, Register, activation
6.0 - Single Item screens: User Account & Single Group Screens
	6.1 - Item Headers: Global
		6.1.1 - item-header: Groups
		6.1.2 - item-header: User Accounts
	6.2 - Item Body: Global
		6.2.1 - item-body: Groups
			6.2.1.1 - Management settings screens
			6.2.1.2 - Group members list
		6.2.2 - item-body: User Accounts
			6.2.2.1 - classes, pag, filters
			6.2.2.2 - Extended Profiles
			6.2.2.3 - Groups
			6.2.2.4 - friends
			6.2.2.5 - Private Messaging Threads
			6.2.2.6 - Settings
			6.2.2.7 - Notifications
7.0 - Forms  -  General
8.0 - Tables -  General
9.0 - Error / Success Messages
10.0 - Ajax Loading, Widgets, General classes
--------------------------------------------------------------*/
/**
*-------------------------------------------------------------------------------
* @section 1.0 - Theme - Structural Elements. overrides, Globals
*-------------------------------------------------------------------------------
*/
.profiles div.clear {
	display: none;
}

body.page-template-onecolumn-page #main #container {
	margin: 0;
}

body.page-template-onecolumn-page #content {
	margin: 0 10% 0;
	width: auto;
}

body.page-template-onecolumn-page #content .entry-header,
body.page-template-onecolumn-page #content .entry-content {
	width: auto;
}

/**
*-------------------------------------------------------------------------------
* @section 2.0 - Navigation - General
*-------------------------------------------------------------------------------
*/
/**
*----------------------------------------------------------
* @section 2.1 - Navs Object Nav / Sub Nav (item-list-tabs)
*
* The main navigational elements for all BP screens
*----------------------------------------------------------
*/
/* Here we start things off */
#profiles div.item-list-tabs ul li.selected a,
#profiles div.item-list-tabs ul li.current a {
	background: inherit;
	opacity: 1;
}

#profiles div.item-list-tabs ul {
	overflow: hidden;
	padding: 0;
}

#profiles div.item-list-tabs ul li a:focus, #profiles div.item-list-tabs ul li a:hover {
	color: #555;
}

#profiles div.item-list-tabs ul li a:visited {
	color: #21759b;
}

#profiles div.item-list-tabs ul li a span {
	padding: 0 4px !important;
}

/*__ Horizontal menus __*/
#profiles #object-nav ul {
	overflow: hidden;
}

#profiles #object-nav ul li {
	float: none;
}

@media screen and (min-width: 650px) {
	#profiles #object-nav ul li {
		float: right;
	}
}

#profiles div#subnav.item-list-tabs {
	margin-top: 0;
}

#profiles div#subnav.item-list-tabs ul {
	border-bottom: 0;
	border-top: 1px solid #d4d0ba;
	margin-top: 5px;
	padding: 0;
}

#profiles div#subnav.item-list-tabs ul li.last {
	background: #fff;
	float: left;
	margin-top: 0;
	padding: 5px 0 5px;
	text-align: left;
	width: 230px;
}

#profiles div#subnav.item-list-tabs ul li.last select,
#profiles div#subnav.item-list-tabs ul li.last select:focus {
	background: transparent;
	border: 0;
	outline: 0;
	padding: 0;
}

#profiles div#subnav.item-list-tabs ul li.last select,
#profiles div#subnav.item-list-tabs ul li.last label,
#profiles div#subnav.item-list-tabs ul li.last option {
	font-size: 14px;
	font-size: 0.9333333333rem;
}

#profiles div#subnav.item-list-tabs ul li.last select {
	font-style: italic;
}

#profiles div#subnav.item-list-tabs ul li.last select option {
	font-style: normal;
}

.profiles-user #profiles div#subnav.item-list-tabs li.last {
	margin-right: 0;
	text-align: left;
}

/*__ Vertical menu User Account / Group single screens __*/
@media screen and (min-width: 800px) {
	body.profiles-user #profiles #item-header,
	body.profiles-user #profiles #item-body {
		background: #fff;
	}
	body.profiles-user #profiles #object-nav {
		border-left: 1px solid #ddd;
		float: right;
		margin-left: -1px;
		width: 200px;
	}
	body.profiles-user #profiles #object-nav ul {
		background: none;
		border-bottom: 0;
		padding: 0;
	}
	body.profiles-user #profiles #object-nav ul li {
		float: none;
		margin-bottom: 5px;
	}
	body.profiles-user #profiles #object-nav ul li a {
		overflow: hidden;
	}
	body.profiles-user #profiles #object-nav ul li.selected {
		background: #ddd;
	}
	body.profiles-user #profiles #object-nav ul li span {
		background: #fff;
		border-radius: 10%;
		float: left;
		margin-left: 2px;
	}
	body.profiles-user #profiles #item-body {
		border-right: 1px solid #ddd;
		overflow: hidden;
		padding: 0 25px 0 0;
		width: auto;
	}
	body.profiles-user #profiles #item-body #subnav {
		margin: 0 -25px 0 0;
	}
	body.profiles-user #profiles #item-body #subnav ul {
		margin-top: 0;
	}
}

@media only screen and (min-device-width: 375px) {
	#main #profiles #group-create-tabs.item-list-tabs ul:before,
	#main #profiles #group-create-tabs.item-list-tabs ul:after {
		content: " ";
		display: table;
	}
	#main #profiles #group-create-tabs.item-list-tabs ul:after {
		clear: both;
	}
	#main #profiles #group-create-tabs.item-list-tabs ul {
		background: none;
		border: 0;
		border-bottom: 1px solid #ddd;
		overflow: visible;
		padding-bottom: 0;
	}
	#main #profiles #group-create-tabs.item-list-tabs ul li {
		float: right;
		width: auto;
	}
	#main #profiles #group-create-tabs.item-list-tabs ul li.selected,
	#main #profiles #group-create-tabs.item-list-tabs ul li.current {
		border: 1px solid #ddd;
		border-bottom-color: #fff;
		-webkit-border-top-left-radius: 4px;
		border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
		background-clip: padding-box;
		margin-bottom: -1px;
	}
	#main #profiles #group-create-tabs.item-list-tabs ul li.selected a,
	#main #profiles #group-create-tabs.item-list-tabs ul li.current a {
		background: none;
		color: #373737;
		outline: none;
	}
	#main #profiles #subnav ul {
		border-bottom: 0;
	}
}

/**
*----------------------------------------------------------
* @section 2.2 - Pagination
*----------------------------------------------------------
*/
#profiles div.pagination {
	box-shadow: none;
	min-height: 0;
}

#profiles div.pagination:before, #profiles div.pagination:after {
	height: 0;
	width: 0;
}

#profiles div.pagination .pag-count {
	margin-right: 0;
}

#profiles div.pagination .pagination-links {
	margin-left: 0;
}

#profiles div.pagination .pagination-links span,
#profiles div.pagination .pagination-links a {
	height: auto;
	line-height: 1;
	padding: 5px;
}

#profiles div.pagination .pagination-links .prev,
#profiles div.pagination .pagination-links .next {
	background-color: transparent;
	color: inherit;
	overflow: visible;
	width: auto;
}

#profiles div.pagination .pagination-links .prev:before,
#profiles div.pagination .pagination-links .next:before {
	display: none;
}

#profiles div.pagination .pagination-links .prev {
	right: auto;
	position: static;
}

#profiles div.pagination .pagination-links .next {
	position: static;
	left: auto;
}

/**
*-------------------------------------------------------------------------------
* @section 4.0 - BP Lists / Loops Generic
*-------------------------------------------------------------------------------
*/
#profiles ul.item-list {
	border-top: 0;
}

#profiles ul.item-list li {
	overflow: hidden !important;
}

#profiles ul.item-list li .item-avatar {
	margin-bottom: 15px;
	text-align: center;
}

@media only screen and (min-device-width: 375px) {
	#profiles ul.item-list li .item-avatar {
		margin-bottom: 0;
	}
}

#profiles ul.item-list li .item-avatar a {
	border-bottom: 0;
}

#profiles ul.item-list li .item-avatar img.avatar {
	display: inline-block;
	float: none;
	margin-bottom: 15px;
}

@media only screen and (min-device-width: 450px) {
	#profiles ul.item-list li .item-avatar img.avatar {
		display: block;
		float: right;
		opacity: 1;
	}
}

#profiles ul.item-list li .item {
	margin-right: 0;
	overflow: hidden;
}

#profiles ul.item-list li .item .item-meta {
	text-align: center;
}

@media screen and (min-width: 650px) {
	#profiles ul.item-list li .item .item-meta {
		text-align: right;
	}
}

#profiles ul.item-list li .item span.activity {
	font-style: italic;
}

#profiles ul.item-list li .item .item-desc {
	margin-right: 0;
	width: 94%;
}

#profiles ul.item-list li .item .item-title {
	font-size: 16px;
	font-size: 1.0666666667rem;
	line-height: 1.2;
	text-align: center;
	width: 100%;
}

@media screen and (min-device-width: 450px) {
	#profiles ul.item-list li .item .item-title {
		text-align: right;
	}
}

#profiles ul.item-list li .item .item-title > a {
	text-decoration: none;
}

#profiles ul.item-list li .item .item-title > a:visited {
	color: #21759b;
}

#profiles ul.item-list li .item .item-title .update {
	display: block;
	font-size: 12px;
	font-size: 0.8rem;
	padding: 15px 0;
	text-align: right;
}

@media screen and (min-width: 650px) {
	#profiles ul.item-list li .item .item-title .update {
		font-size: 14px;
		font-size: 0.9333333333rem;
	}
}

@media screen and (min-width: 650px) {
	#profiles ul.item-list li .item-avatar,
	#profiles ul.item-list li .item,
	#profiles ul.item-list li .action {
		float: right;
	}
	#profiles ul.item-list li .item {
		right: 5%;
		margin-right: 0;
		position: relative;
		width: 55%;
	}
	#profiles ul.item-list li .item .item-title {
		font-size: 18px;
		font-size: 1.2rem;
	}
}

#profiles ul.item-list li div.action {
	clear: right;
	float: none;
	margin: 0;
	margin-right: 0;
	padding: 15px 0 5px;
	position: relative;
	text-align: right;
	top: 0;
}

@media screen and (min-width: 650px) {
	#profiles ul.item-list li div.action {
		clear: none;
		float: left;
		margin-bottom: 0;
		padding: 0;
	}
}

#profiles ul.item-list li div.action div {
	display: inline-block;
	margin: 5px 0;
	width: 100%;
}

#profiles ul.item-list li div.action div a {
	display: block;
}

@media only screen and (min-device-width: 375px) {
	#profiles ul.item-list li div.action div {
		margin: 0 0 5px 15px;
		width: auto;
	}
}

@media screen and (min-width: 650px) {
	#profiles ul.item-list li div.action div {
		clear: left;
		float: left;
		margin: 0 0 15px 0;
	}
}

#profiles ul.item-list li div.action .meta {
	font-style: italic;
}

/**
*----------------------------------------------------------
* @section 4.1 - Activity
*----------------------------------------------------------
*/
/**
*-----------------------------------------------------
* @section 4.1.1 - Activity Whats New
*-----------------------------------------------------
*/
#profiles form#whats-new-form p.activity-greeting {
	line-height: 1.4;
}

#profiles form#whats-new-form #whats-new-content.active #whats-new-options[style] #whats-new-post-in-box {
	border: 1px solid rgba(212, 208, 186, 0.5);
	float: right;
	font-size: 12px;
	font-size: 0.8rem;
	line-height: 1.6;
	margin-top: 12px;
	padding-right: 0.2em;
	width: 100%;
}

#profiles form#whats-new-form #whats-new-content.active #whats-new-options[style] #whats-new-post-in-box select {
	background: none;
	border: 0;
	float: left;
	margin: 0;
	max-width: 220px;
	min-height: 1.5em;
	padding: 0 0.4em 0 0;
}

@media screen and (min-width: 30em) {
	#profiles form#whats-new-form #whats-new-content.active #whats-new-options[style] #whats-new-post-in-box {
		width: auto;
	}
	#profiles form#whats-new-form #whats-new-content.active #whats-new-options[style] #whats-new-submit {
		font-size: 12px;
		font-size: 0.8rem;
		float: left;
	}
	#profiles form#whats-new-form #whats-new-content.active #whats-new-options[style] #whats-new-submit input {
		padding: 0 6px;
	}
}

#profiles #item-body form#whats-new-form {
	margin: 50px 0;
}

/**
*-----------------------------------------------------
* @section 4.1.2 - Activity Listing
*-----------------------------------------------------
*/
#profiles #activity-stream li {
	padding: 25px 0 15px;
}

#profiles #activity-stream li.load-newest a {
	display: block;
}

#profiles #activity-stream li .activity-avatar {
	float: none;
	text-align: center;
}

#profiles #activity-stream li .activity-avatar a {
	display: inline-block;
}

#profiles #activity-stream li .activity-avatar a img.avatar {
	display: inline;
	float: none;
	height: 60px;
	margin-bottom: 25px;
	margin-right: 0;
	width: 60px;
}

#profiles #activity-stream li .activity-content,
#profiles #activity-stream li .activity-comments {
	margin-right: 0;
}

#profiles #activity-stream li .activity-header {
	font-size: 14px;
	font-size: 0.9333333333rem;
}

#profiles #activity-stream li .activity-header a:visited {
	color: #21759b;
}

#profiles #activity-stream li .activity-inner img {
	height: auto;
}

@media screen and (min-width: 650px) {
	#profiles #activity-stream li .activity-avatar {
		float: right;
		margin-left: 15px;
		text-align: right;
	}
	#profiles #activity-stream li .activity-avatar a {
		border-bottom: 0;
	}
	#profiles #activity-stream li .activity-content {
		margin: 0;
		overflow: hidden;
	}
	#profiles #activity-stream li .activity-content .activity-header {
		font-size: 16px;
		font-size: 1.0666666667rem;
	}
	#profiles #activity-stream li .activity-comments {
		margin-right: 70px;
	}
}

#profiles #activity-stream li.mini .activity-avatar a img.avatar {
	height: 30px;
	margin-right: 15px;
	width: 30px;
}

#profiles #activity-stream li.mini .activity-content .activity-header {
	font-size: 14px;
	font-size: 0.9333333333rem;
}

#profiles #activity-stream li.mini .activity-content .activity-meta a {
	font-size: 12px;
	font-size: 0.8rem;
}

#profiles #activity-stream .activity-content {
	margin-top: -12px;
}

#profiles #activity-stream .activity-content .activity-header {
	line-height: inherit;
	margin-left: 0;
}

#profiles #activity-stream .activity-content .activity-header p {
	border-bottom: 1px solid rgba(234, 234, 234, 0.6);
	margin-top: 0;
	padding: 0 0.2em;
}

#profiles #activity-stream .activity-content .activity-header img.avatar {
	display: inline-block;
	margin-bottom: 0 !important;
}

#profiles #activity-stream .activity-content .activity-meta a {
	display: block;
	font-size: 14px;
	font-size: 0.9333333333rem;
	margin-bottom: 5px;
	padding: 0.2em 0.5em;
}

@media screen and (min-width: 650px) {
	#profiles #activity-stream .activity-content .activity-meta a {
		float: right;
		margin-bottom: 0;
	}
}

#profiles #activity-stream .load-more {
	background: #f7f7f7;
	border: 1px solid transparent;
	padding: 15px;
}

#profiles #activity-stream .load-more:focus, #profiles #activity-stream .load-more:hover {
	background: #f4f4f4;
	border: 1px solid rgba(159, 209, 226, 0.3);
}

#profiles #activity-stream .load-more a {
	display: block;
}

/* Single activity view  - activity permalink */
.activity-permalink #profiles #activity-stream li.activity-item {
	padding: 25px;
}

.activity-permalink #profiles #activity-stream li.mini .activity-header {
	font-size: 16px;
	font-size: 1.0666666667rem;
	margin-bottom: 50px;
}

@media screen and (min-width: 650px) {
	.activity-permalink #profiles #activity-stream li.mini .activity-header {
		font-size: 20px;
		font-size: 1.3333333333rem;
	}
}

.activity-permalink #profiles #activity-stream li.mini .activity-header p {
	padding: 25px;
}

.activity-permalink #profiles #activity-stream .activity-comments {
	margin-right: 0;
}

/**
*-----------------------------------------------------
* @section 4.1.3 - Activity Comments
*-----------------------------------------------------
*/
#profiles #activity-stream .activity-comments {
	position: relative;
}

#profiles #activity-stream .activity-comments > ul {
	background: rgba(247, 247, 247, 0.6);
	margin: 15px 2px 0 0;
}

#profiles #activity-stream .activity-comments > ul > li:hover * {
	color: #555;
}

#profiles #activity-stream .activity-comments > ul > li .acomment-meta,
#profiles #activity-stream .activity-comments > ul > li .acomment-content {
	font-size: 12px;
	font-size: 0.8rem;
}

#profiles #activity-stream .activity-comments .ac-form {
	border: 1px solid #d4d0ba;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 15px 0;
	width: 100%;
}

#profiles #activity-stream .activity-comments .ac-form input[type="submit"],
#profiles #activity-stream .activity-comments .ac-form .ac-reply-cancel {
	color: rgba(55, 55, 55, 0.8);
	display: inline-block;
	font-family: inherit;
	font-size: 12px;
	font-size: 0.8rem;
	font-weight: normal;
	line-height: 1.2;
	padding: 4px 10px;
	text-transform: lowercase;
	width: 100px;
}

#profiles #activity-stream .activity-comments .ac-form .ac-reply-cancel {
	border: 1px solid rgba(212, 208, 186, 0.7);
	text-align: center;
}

#profiles #activity-stream .activity-comments .ac-form .ac-reply-cancel:focus, #profiles #activity-stream .activity-comments .ac-form .ac-reply-cancel:hover {
	background: #ededed;
}

/**
*----------------------------------------------------------
* @section 4.2 - Members Loop
*----------------------------------------------------------
*/
@media screen and (min-width: 650px) {
	#profiles #members-list li .item-avatar,
	#profiles #members-list li .item {
		float: right;
	}
	#profiles #members-list li .action {
		float: left;
	}
}

/**
*-------------------------------------------------------------------------------
* @section 5.0 - Directories
*-------------------------------------------------------------------------------
*/
/**
*-----------------------------------------------------------
* @subsection Registration
*-----------------------------------------------------------
*/
#profiles #signup_form.standard-form #profile-details-section,
#profiles #signup_form.standard-form #basic-details-section,
#profiles #signup_form.standard-form #blog-details-section {
	float: none;
	width: 100%;
}

@media screen and (min-width: 37.5em) {
	#profiles #signup_form.standard-form #profile-details-section,
	#profiles #signup_form.standard-form #basic-details-section,
	#profiles #signup_form.standard-form #blog-details-section {
		width: 48%;
	}
}

@media screen and (min-width: 37.5em) {
	#profiles #signup_form.standard-form #profile-details-section {
		float: left;
	}
	#profiles #signup_form.standard-form #basic-details-section {
		float: right;
	}
}

/**
*-------------------------------------------------------------------------------
* @section 6.0 - Single Item screens: User Account & Single Group Screens
*-------------------------------------------------------------------------------
*/
.profiles-user #profiles a:visited {
	color: #21759b;
}

/**
*-----------------------------------------------------------
* @subsection 6.1 - Item Header Global
*-----------------------------------------------------------
*/
.profiles-user #profiles #item-header-content #item-meta,
.single-item.groups #profiles #item-header-content #item-meta {
	font-size: 14px;
	font-size: 0.9333333333rem;
	text-align: right;
}

.profiles-user #profiles #item-header-content #item-meta p,
.single-item.groups #profiles #item-header-content #item-meta p {
	margin-bottom: 0.5em;
}

@media screen and (max-width: 37.5em) {
	.profiles-user h1,
	.profiles-user #item-header-content,
	.single-item.groups h1,
	.single-item.groups #item-header-content {
		text-align: center;
	}
}

@media screen and (max-width: 46.25em) {
	.profiles-user main header.entry-header,
	.single-item.groups main header.entry-header {
		padding-bottom: 1rem;
	}
}

@media screen and (max-width: 37.5em) {
	.profiles-user #profiles h1,
	.single-item.groups #profiles h1 {
		margin-bottom: 0;
	}
	.profiles-user #profiles #item-header-avatar img.avatar,
	.single-item.groups #profiles #item-header-avatar img.avatar {
		margin-left: 0;
	}
	.profiles-user #profiles #item-header-content,
	.single-item.groups #profiles #item-header-content {
		width: 100%;
	}
	.profiles-user #profiles #item-header-content .user-nicename,
	.single-item.groups #profiles #item-header-content .user-nicename {
		color: #555;
	}
}

@media screen and (max-width: 46.25em) {
	.profiles-user #profiles #item-header .generic-button,
	.single-item.groups #profiles #item-header .generic-button {
		float: none;
		margin: 1.5em 0 0 0;
	}
}

/**
*-----------------------------------------------------
* @subsection 6.1.1 - item-header Groups
*
* Group Specific Item Header
*-----------------------------------------------------
*/
@media screen and (max-width: 46.25em) {
	.single-item.groups #profiles #item-header #item-meta {
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 50em) {
	.single-item.groups #profiles div#item-header {
		display: flex;
		flex-direction: column;
	}
	.single-item.groups #profiles div#item-header #item-header-avatar {
		order: 1;
		text-align: center;
	}
	.single-item.groups #profiles div#item-header #item-header-avatar a {
		border-bottom: 0;
	}
	.single-item.groups #profiles div#item-header #item-header-avatar a img {
		display: inline-block;
		float: none;
	}
	.single-item.groups #profiles div#item-header #item-header-content {
		order: 2;
	}
	.single-item.groups #profiles div#item-header #item-actions {
		order: 3;
	}
	.single-item.groups #profiles div#item-header #item-actions h2 {
		border-bottom: 1px solid #eaeaea;
		text-align: center;
	}
}

.single-item.groups #profiles div#item-header {
	padding-bottom: 50px;
}

.single-item.groups #profiles div#item-header #item-header-content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.single-item.groups #profiles div#item-header div#item-actions {
	margin: 0 !important;
	width: 100%;
}

@media screen and (min-width: 50em) {
	.single-item.groups #profiles div#item-header div#item-actions {
		border-right: 1px solid #eaeaea;
		clear: none;
		float: left;
		padding-right: 0.2em;
		width: 30%;
	}
}

@media screen and (min-width: 46.25em) {
	.single-item.groups #profiles div#item-header div#item-actions {
		width: 40%;
	}
}

.single-item.groups #profiles div#item-header div#item-actions ul {
	margin-top: 0;
	padding-right: 0;
}

.single-item.groups #profiles div#item-header div#item-actions h2 {
	font-size: 14px;
	font-size: 0.9333333333rem;
	font-weight: bold;
	line-height: 1.4;
}

.single-item.groups #profiles div#item-header div#item-actions #group-admins li,
.single-item.groups #profiles div#item-header div#item-actions #group-mods li {
	margin: 0;
}

@media screen and (min-width: 650px) {
	.single-item.groups #profiles div#item-header #item-header-avatar,
	.single-item.groups #profiles div#item-header #item-header-content {
		float: right;
	}
	.single-item.groups #profiles div#item-header #item-header-content {
		margin-right: 2%;
		padding: 0 0.5em;
	}
	.single-item.groups #profiles div#item-header div#item-actions {
		float: left;
		width: 28%;
	}
}

@media screen and (min-width: 64em) {
	.single-item.groups #profiles div#item-header #item-header-content {
		width: 40%;
	}
}

.single-item.groups #profiles #cover-image-container #item-header-cover-image #item-actions {
	margin-top: 225px !important;
}

@media screen and (min-width: 50em) and (max-width: 60em) {
	.single-item.groups #profiles #cover-image-container #item-header-cover-image #item-header-content {
		max-width: 60% !important;
		width: 60% !important;
	}
}

@media screen and (max-width: 64em) {
	.single-item.groups #profiles #cover-image-container #item-header-cover-image #item-actions {
		border: 0;
		clear: both;
		margin-top: 0 !important;
		max-width: 100% !important;
		padding-top: 0 !important;
		width: auto;
	}
	.single-item.groups #profiles #cover-image-container #item-header-cover-image #item-actions h2 {
		border-bottom: 1px solid #eaeaea;
	}
}

/**
*-----------------------------------------------------
* @subsection 6.1.2 - Item Header User Accounts
*
* User Accounts Specific Item Header
*-----------------------------------------------------
*/
.profiles-user #profiles #item-header #item-header-avatar {
	text-align: center;
}

.profiles-user #profiles #item-header #item-header-avatar img.avatar,
.profiles-user #profiles #item-header #item-header-avatar a {
	border-bottom: 0;
	display: inline-block;
	float: none;
}

.profiles-user #profiles #item-header #item-header-cover-image .user-nicename {
	color: inherit;
	text-shadow: none;
}

@media screen and (min-width: 800px) {
	.profiles-user #profiles #item-header #item-header-cover-image .user-nicename {
		color: #fff;
		text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	}
}

.profiles-user #profiles #item-header #item-header-content #item-buttons .generic-button {
	margin-left: 5px;
}

@media screen and (min-width: 650px) {
	.profiles-user #profiles #item-header #item-header-avatar {
		float: right;
	}
	.profiles-user #profiles #item-header #item-header-avatar a {
		float: right;
	}
	.profiles-user #profiles #item-header #item-header-content {
		float: left;
		margin-left: 0%;
		width: 69%;
	}
}

/**
*-----------------------------------------------------------
* @subsection 6.2 - Item Body: Global
*-----------------------------------------------------------
*/
/**
*----------------------------------------------------
* @subsection 6.2.1 - Item Body Groups
*
* Groups specific item body rules -  screens
*----------------------------------------------------
*/
/**
*-----------------------------------------
* @subsection 6.2.1.1 - Group Management
*-----------------------------------------
*/
.groups #group-settings-form h4 {
	background: #555;
	color: #fff;
	padding: 0.2em;
}

.groups.edit-details #group-settings-form label {
	margin-bottom: 0;
	padding: 0.2em;
	width: 80%;
}

.groups.edit-details #group-settings-form textarea + p label {
	background: none;
	color: inherit;
	font-size: 14px;
	font-size: 0.9333333333rem;
	width: auto;
}

.groups.edit-details #group-settings-form textarea {
	height: auto;
	min-height: 100px;
	overflow: auto;
}

.groups.group-settings #group-settings-form div.radio label {
	font-weight: bold;
	padding: 0.2em;
}

.groups.group-settings #group-settings-form div.radio label ul {
	color: rgba(55, 55, 55, 0.6);
	font-size: 14px;
	font-size: 0.9333333333rem;
}

.groups.group-avatar form > p {
	margin-top: 25px;
}

.groups.manage-members #group-settings-form .item-list li {
	border-bottom: 1px solid #eaeaea;
}

@media screen and (min-width: 650px) {
	.groups.manage-members #group-settings-form .item-list li img,
	.groups.manage-members #group-settings-form .item-list li h5 {
		float: right;
	}
}

.groups.manage-members #group-settings-form .item-list li img > a,
.groups.manage-members #group-settings-form .item-list li h5 > a {
	border-bottom: 0;
}

.groups.manage-members #group-settings-form .item-list li span.small {
	clear: right;
	display: block;
	float: none;
	margin-top: 15px;
	width: 100%;
}

.groups.manage-members #group-settings-form .item-list li span.small a {
	display: block;
	margin: 5px 0;
}

@media screen and (min-width: 650px) {
	.groups.manage-members #group-settings-form .item-list li span.small a {
		display: inline-block;
	}
}

.groups.manage-members #group-settings-form .item-list li h5 {
	margin: 0;
}

/**
*-----------------------------------------
* @subsection 6.2.1.2 - Group members
*-----------------------------------------
*/
.groups.group-members #subnav li {
	width: 100%;
}

.groups.group-members #subnav li #search-members-form {
	float: left;
	margin: 5px 0 0 0;
}

.groups.group-members #subnav li #search-members-form label input[type="text"] {
	box-shadow: none;
}

/**
*-----------------------------------------------------
* @subsection 6.2.2 - Item Body User Accounts
*
* User Account specific component item body rules
*-----------------------------------------------------
*/
/**
*--------------------------------------------
* @subsection 6.2.2.1 - classes, pag, filters
*--------------------------------------------
*/
.profiles-user #profiles table th {
	font-size: 13px;
	font-size: 0.8666666667rem;
}

.profiles-user #profiles table td {
	font-size: 12px;
	font-size: 0.8rem;
}

@media screen and (min-width: 650px) {
	.profiles-user #profiles table th {
		font-size: 16px;
		font-size: 1.0666666667rem;
	}
	.profiles-user #profiles table td {
		font-size: 14px;
		font-size: 0.9333333333rem;
	}
}

.profiles-user #profiles .pag-count {
	font-style: italic;
}

.profiles-user #profiles .notifications-options-nav,
.profiles-user #profiles .messages-options-nav {
	float: right;
	width: 100%;
}

@media screen and (min-width: 37.5em) {
	.profiles-user #profiles .notifications-options-nav,
	.profiles-user #profiles .messages-options-nav {
		width: 60%;
	}
}

.profiles-user #profiles .notifications-options-nav select,
.profiles-user #profiles .notifications-options-nav input,
.profiles-user #profiles .messages-options-nav select,
.profiles-user #profiles .messages-options-nav input {
	font-size: 14px;
	font-size: 0.9333333333rem;
	outline: 0;
	padding: 0;
}

.profiles-user #profiles .notifications-options-nav select,
.profiles-user #profiles .messages-options-nav select {
	float: right;
	margin-left: 0;
	width: 49%;
}

@media screen and (min-width: 37.5em) {
	.profiles-user #profiles .notifications-options-nav select,
	.profiles-user #profiles .messages-options-nav select {
		width: auto;
	}
}

.profiles-user #profiles .notifications-options-nav input,
.profiles-user #profiles .messages-options-nav input {
	float: right;
	font-family: inherit;
	line-height: 20px;
	margin-right: 1%;
	width: 50%;
}

@media screen and (min-width: 37.5em) {
	.profiles-user #profiles .notifications-options-nav input,
	.profiles-user #profiles .messages-options-nav input {
		width: auto;
	}
}

.profiles-user #profiles .notifications-options-nav input[disabled="disabled"]:focus, .profiles-user #profiles .notifications-options-nav input[disabled="disabled"]:hover,
.profiles-user #profiles .messages-options-nav input[disabled="disabled"]:focus,
.profiles-user #profiles .messages-options-nav input[disabled="disabled"]:hover {
	background: none;
}

/**
	*-------------------------------------------
	* @subsection 6.2.2.2 - Extended Profiles
	*-------------------------------------------
	*/
.profiles-user #profiles .profile .profiles-widget h2 {
	background: #6f6f6f;
	color: #fff;
	margin-bottom: 0;
	padding: 0.4em;
}

.profiles-user #profiles .profile .profiles-widget table {
	margin-top: 0;
}

.profiles-user #profiles .profile #profile-edit-form .button-nav:before,
.profiles-user #profiles .profile #profile-edit-form .button-nav:after {
	content: " ";
	display: table;
}

.profiles-user #profiles .profile #profile-edit-form .button-nav:after {
	clear: both;
}

.profiles-user #profiles .profile #profile-edit-form ul.button-nav {
	border-bottom: 1px solid #eaeaea;
	margin-right: 0;
}

.profiles-user #profiles .profile #profile-edit-form ul.button-nav li {
	float: right;
	margin-bottom: 0;
}

.profiles-user #profiles .profile #profile-edit-form ul.button-nav li.current {
	border: 1px solid #eaeaea;
	border-bottom-color: #fff;
	margin-bottom: -1px;
}

.profiles-user #profiles .profile #profile-edit-form ul.button-nav a {
	background: none;
	border: 0;
	font-size: 18px;
	font-size: 1.2rem;
}

.profiles-user #profiles .profile #profile-edit-form .field-visibility-settings-toggle {
	margin: 5px 0 25px;
}

.profiles-user #profiles .profile #profile-edit-form .field-visibility-settings-toggle,
.profiles-user #profiles .profile #profile-edit-form .field-visibility-settings {
	font-size: 14px;
	font-size: 0.9333333333rem;
}

.profiles-user #profiles .profile #profile-edit-form .field-visibility-settings-close,
.profiles-user #profiles .profile #profile-edit-form .visibility-toggle-link {
	background: #6f6f6f;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	background-clip: padding-box;
	color: #eee;
	font-weight: bold;
	padding: 0.1em 0.5em;
	text-decoration: none;
}

.profiles-user #profiles .profile #profile-edit-form .field-visibility-settings-close:focus, .profiles-user #profiles .profile #profile-edit-form .field-visibility-settings-close:hover,
.profiles-user #profiles .profile #profile-edit-form .visibility-toggle-link:focus,
.profiles-user #profiles .profile #profile-edit-form .visibility-toggle-link:hover {
	color: #fff;
}

.profiles-user #profiles .profile .profiles-avatar #profiles-delete-avatar a {
	font-size: inherit;
}

/**
	*-------------------------------------------
	* @subsection 6.2.2.5 - Private Messaging
	*-------------------------------------------
	*/
.profiles-user #profiles #message-thread a {
	border-bottom: 0;
}

.profiles-user #profiles #message-thread #message-subject {
	background: #6f6f6f;
	color: #fff;
	padding: 0.3em 0.2em 0.3em 0;
}

.profiles-user #profiles #message-thread #message-recipients {
	font-style: italic;
}

.profiles-user #profiles #message-thread #message-recipients a.confirm {
	border: 1px solid #eaeaea;
	font-style: normal;
}

.profiles-user #profiles #message-thread #message-recipients .highlight {
	font-size: 100%;
}

.profiles-user #profiles #message-thread .message-metadata {
	overflow: hidden;
}

.profiles-user #profiles #message-thread .message-metadata img.avatar {
	float: none;
}

@media screen and (min-width: 46.25em) {
	.profiles-user #profiles #message-thread .message-metadata img.avatar {
		float: right;
	}
}

.profiles-user #profiles #message-thread .message-metadata .message-star-actions {
	float: left;
	margin-left: 5px;
	position: static;
}

.profiles-user #profiles #message-thread .message-content {
	background: #f7f7f7;
	border: 1px solid #eaeaea;
	margin: 15px 0 0 0;
	padding: 0.3em;
}

.profiles-user #profiles #message-thread #send-reply .message-content {
	background: #fff;
	border: 0;
}

.profiles-user #profiles #message-thread .alt {
	background: #fff;
}

.profiles-user #profiles #message-threads thead tr {
	background: #6f6f6f;
}

.profiles-user #profiles #message-threads tr td {
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	float: right;
}

.profiles-user #profiles #message-threads tr td.thread-star,
.profiles-user #profiles #message-threads tr td.thread-options {
	border-bottom: 1px solid #ccc;
	height: 2.4em;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
}

@media screen and (max-width: 46.25em) {
	.profiles-user #profiles #message-threads tr td.thread-star,
	.profiles-user #profiles #message-threads tr td.thread-options {
		padding-top: 0;
	}
}

.profiles-user #profiles #message-threads tr td.thread-star {
	vertical-align: middle;
}

.profiles-user #profiles #message-threads tr td.thread-star .message-action-star,
.profiles-user #profiles #message-threads tr td.thread-star .message-action-unstar {
	line-height: 1.2;
}

.profiles-user #profiles #message-threads tr td.thread-star span.icon:before {
	font-size: 14px;
	font-size: 0.9333333333rem;
}

.profiles-user #profiles #message-threads tr td.bulk-select-check,
.profiles-user #profiles #message-threads tr td.thread-from {
	height: 3em;
}

@media screen and (max-width: 37.5em) {
	.profiles-user #profiles #message-threads tr td.bulk-select-check,
	.profiles-user #profiles #message-threads tr td.thread-from {
		height: 5.2em;
	}
}

.profiles-user #profiles #message-threads tr td.thread-from,
.profiles-user #profiles #message-threads tr td.thread-options {
	border-right: 0 !important;
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	width: calc(100% - 30px);
	margin-right: 0;
}

.profiles-user #profiles #message-threads tr td.thread-info {
	padding-right: 41px;
	width: 100%;
}

.profiles-user #profiles #message-threads tr td.thread-info a::after {
	content: " ‖ " attr(title);
	font-size: 12px;
	font-size: 0.8rem;
}

.profiles-user #profiles #message-threads tr td.thread-options {
	text-align: left;
}

.profiles-user #profiles #message-threads tr td.thread-options a {
	font-size: 12px;
	font-size: 0.8rem;
	line-height: 1.2;
}

.profiles-user #profiles #message-threads tr span.from {
	display: none;
}

.profiles-user #profiles #message-threads tr span.activity {
	display: block;
	float: left;
	line-height: 2;
}

@media screen and (max-width: 37.5em) {
	.profiles-user #profiles #message-threads tr span.activity {
		clear: both;
		font-size: 11px;
		font-size: 0.7333333333rem;
		width: 100%;
	}
}

.profiles-user #profiles #message-threads tr.unread td {
	border-color: #eaeaea;
}

.profiles-user #profiles #message-threads th {
	display: none;
}

.profiles-user #profiles #message-threads th.bulk-select-all {
	border-bottom: 0;
	display: inline-block;
	text-align: right;
}

.profiles-user #profiles #message-threads th.bulk-select-all,
.profiles-user #profiles #message-threads td.bulk-select-check,
.profiles-user #profiles #message-threads td.thread-star {
	border-left: 0;
	width: 30px;
}

.profiles-user #profiles #send_message_form input,
.profiles-user #profiles #send_message_form textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.profiles-user #profiles .acfb-holder {
	list-style: none;
}

.profiles-user #profiles .acfb-holder li {
	margin-right: 0;
}

.profiles-user #profiles .acfb-holder li.friend-tab {
	background: #edf7fa;
	border: inherit;
	margin-left: 0;
	padding: 0.5em;
}

.profiles-user #profiles .acfb-holder li.friend-tab span.p {
	padding-right: 15px;
}

.profiles-user #profiles .acfb-holder li.friend-tab span.p:focus, .profiles-user #profiles .acfb-holder li.friend-tab span.p:hover {
	color: #c82b2b;
	cursor: pointer;
}

.profiles-user #profiles .acfb-holder li.friend-tab a {
	border-bottom: 0;
	text-decoration: none;
}

.profiles-user #profiles .acfb-holder li.friend-tab a img {
	display: inline;
	height: 20px;
	vertical-align: middle;
	width: 20px !important;
}

.profiles-user #profiles #message-threads.sitewide-notices tr {
	margin: 3em 0;
}

.profiles-user #profiles #message-threads.sitewide-notices td {
	width: 100%;
}

.profiles-user #profiles #message-threads.sitewide-notices td strong {
	background: #6f6f6f;
	color: #fff;
	display: block;
	margin-bottom: 0.4em;
	padding-right: 0.2em;
}

.profiles-user #profiles #message-threads.sitewide-notices td a {
	display: inline-block;
}

.profiles-user #profiles #message-threads.sitewide-notices td a.button {
	border: 1px solid #d4d0ba;
	line-height: initial;
	padding: 0.4em 0.3em;
}

.profiles-user #profiles #message-threads.sitewide-notices td:first-child {
	display: none;
}

.profiles-user #profiles #message-threads.sitewide-notices td:nth-child(2) strong {
	margin: -8px -8px 8px;
}

.profiles-user #profiles #message-threads.sitewide-notices td:first-child + td + td {
	border-bottom: 0;
}

.profiles-user #profiles #message-threads.sitewide-notices td:first-child + td + td span {
	line-height: 1;
}

.profiles-user #profiles #message-threads.sitewide-notices td:last-child {
	line-height: 1;
	padding-bottom: 1em;
	text-align: left;
}

.profiles-user #profiles #message-threads.sitewide-notices td:last-child a:last-child {
	line-height: 0;
	margin-right: 0.7em;
	text-indent: -999em;
}

.profiles-user #profiles #message-threads.sitewide-notices td:last-child a:last-child::after {
	content: attr(title);
	display: block;
	line-height: initial;
	text-indent: 0;
}

.profiles-user .ac_results {
	background: #eee;
	padding-right: 15px;
}

.profiles-user .ac_results li {
	margin: 15px 0;
}

.profiles-user .ac_results li:focus, .profiles-user .ac_results li:hover {
	cursor: pointer;
}

.profiles-user .ac_results li img {
	vertical-align: bottom;
}

/**
	*------------------------------
	* @subsection 6.2.2.6 - Settings
	*------------------------------
	*/
.profiles-user #profiles #settings-form > p {
	font-size: 20px;
	font-size: 1.3333333333rem;
	margin: 25px 0 15px;
}

.profiles-user #profiles table.notification-settings td.yes,
.profiles-user #profiles table.notification-settings td.no {
	vertical-align: middle;
}

.profiles-user #profiles table.profile-settings {
	width: 100%;
}

.profiles-user #profiles table.profile-settings th.field-group-name,
.profiles-user #profiles table.profile-settings td.field-name {
	width: 50%;
}

@media screen and (min-width: 46.25em) {
	.profiles-user #profiles table.profile-settings th.field-group-name,
	.profiles-user #profiles table.profile-settings td.field-name {
		width: 70%;
	}
}

.profiles-user #profiles table.profile-settings th.title,
.profiles-user #profiles table.profile-settings td.field-visibility {
	width: 30%;
}

.profiles-user #profiles table.profile-settings td.field-visibility select {
	width: 100%;
}

/**
	*------------------------------------
	* @subsection 6.2.2.6 - Notifications
	*------------------------------------
	*/
/**
*-------------------------------------------------------------------------------
* @section 7.0 - Forms  - General
*-------------------------------------------------------------------------------
*/
#main #profiles .standard-form li {
	float: none;
}

#main #profiles .standard-form input[type='text'],
#main #profiles .standard-form input[type='email'],
#main #profiles .standard-form input[type='password'],
#main #profiles .standard-form textarea {
	border-width: 1px;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

#profiles div.activity-comments form .ac-textarea {
	background: #f7f7f7;
	border: 1px solid rgba(212, 208, 186, 0.5);
}

#profiles div.activity-comments form .ac-textarea textarea {
	background: none;
	border: 0;
}

#profiles .standard-form input[type="text"],
#profiles .standard-form input[type="email"],
#profiles .standard-form input[type="password"],
#profiles .standard-form button,
#profiles .standard-form select,
#profiles .standard-form textarea {
	border-color: rgba(212, 208, 186, 0.5);
	border-width: 1px;
}

#profiles #signup_form.standard-form div.submit {
	float: none;
}

#profiles #signup_form.standard-form div.submit input {
	margin-left: 0;
}

#profiles div.dir-search,
#profiles div.message-search,
#profiles li.groups-members-search {
	float: none;
	margin: 15px 0;
}

#profiles div.dir-search form,
#profiles div.message-search form,
#profiles li.groups-members-search form {
	border: 1px solid rgba(212, 208, 186, 0.6);
	overflow: hidden;
}

#profiles div.dir-search form label,
#profiles div.message-search form label,
#profiles li.groups-members-search form label {
	float: right;
	width: 70%;
}

#profiles div.dir-search form input[type='text'],
#profiles div.dir-search form input[type='submit'],
#profiles div.message-search form input[type='text'],
#profiles div.message-search form input[type='submit'],
#profiles li.groups-members-search form input[type='text'],
#profiles li.groups-members-search form input[type='submit'] {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	font-size: 0.9333333333rem;
	line-height: 1.8;
	margin: 0;
	min-height: 2rem;
}

#profiles div.dir-search form input[type='text'],
#profiles div.message-search form input[type='text'],
#profiles li.groups-members-search form input[type='text'] {
	border-left: 1px solid rgba(212, 208, 186, 0.6);
	float: right;
	margin: 0;
	padding: 0 0.2em 0;
	width: 70%;
}

#profiles div.dir-search form input[type='submit'],
#profiles div.message-search form input[type='submit'],
#profiles li.groups-members-search form input[type='submit'] {
	float: left;
	font-weight: normal;
	padding: 0 1em;
	text-align: center;
	text-transform: none;
	width: 30%;
}

@media screen and (min-device-width: 450px) {
	#profiles div.dir-search,
	#profiles div.message-search,
	#profiles li.groups-members-search {
		float: left;
		margin-bottom: 5px !important;
	}
	#profiles div.dir-search form label,
	#profiles div.dir-search form input[type='text'],
	#profiles div.dir-search form input[type='submit'],
	#profiles div.message-search form label,
	#profiles div.message-search form input[type='text'],
	#profiles div.message-search form input[type='submit'],
	#profiles li.groups-members-search form label,
	#profiles li.groups-members-search form input[type='text'],
	#profiles li.groups-members-search form input[type='submit'] {
		width: auto;
	}
}

@media screen and (min-width: 800px) {
	#profiles .dir-search form input[type='text'],
	#profiles .message-search form input[type='text'] {
		font-size: 16px;
		font-size: 1.0666666667rem;
	}
	#profiles .dir-search form input[type='submit'],
	#profiles .message-search form input[type='submit'] {
		font-size: 16px;
		font-size: 1.0666666667rem;
	}
}

/**
*-------------------------------------------------------------------------------
* @section 8.0 - Tables - General
*-------------------------------------------------------------------------------
*/
.profiles-user #profiles table {
	font-size: 14px;
	font-size: 0.9333333333rem;
	margin: 25px 0;
}

.profiles-user #profiles table input {
	margin: 0;
}

.profiles-user #profiles table tr th {
	background: #6f6f6f;
	border-color: #b7b7b7;
	color: #fff;
	font-size: 16px;
	font-size: 1.0666666667rem;
	padding: 4px 8px;
	text-transform: capitalize;
}

.profiles-user #profiles table tr td {
	padding: 8px;
}

.profiles-user #profiles table p {
	margin-bottom: 0.5em;
}

@media screen and (min-width: 55em) {
	.profiles-user #profiles table {
		font-size: 16px;
		font-size: 1.0666666667rem;
	}
}

.profiles-user #profiles .notifications th,
.profiles-user #profiles .messages-notices th {
	width: 30%;
}

.profiles-user #profiles .notifications th.bulk-select-all,
.profiles-user #profiles .messages-notices th.bulk-select-all {
	text-align: center;
	width: 10%;
}

.profiles-user #profiles .notifications th.actions,
.profiles-user #profiles .messages-notices th.actions {
	text-align: center;
}

.profiles-user #profiles .notifications .bulk-select-check,
.profiles-user #profiles .notifications .thread-star,
.profiles-user #profiles .messages-notices .bulk-select-check,
.profiles-user #profiles .messages-notices .thread-star {
	text-align: center;
}

.profiles-user #profiles .notifications .notification-actions,
.profiles-user #profiles .notifications td.thread-options,
.profiles-user #profiles .messages-notices .notification-actions,
.profiles-user #profiles .messages-notices td.thread-options {
	text-align: center;
}

.profiles-user #profiles .notifications .notification-actions a,
.profiles-user #profiles .notifications td.thread-options a,
.profiles-user #profiles .messages-notices .notification-actions a,
.profiles-user #profiles .messages-notices td.thread-options a {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.profiles-user #profiles .notifications td .button,
.profiles-user #profiles .messages-notices td .button {
	border: 0;
	display: block;
	padding: 0;
	text-align: center;
}

/**
*-------------------------------------------------------------------------------
* @section 9.0 - Error / Success messages
*-------------------------------------------------------------------------------
*/
#profiles div#message p {
	font-size: 18px;
	font-size: 1.2rem;
	font-weight: bold;
}

#profiles div#message.info p {
	background: #c6e4ee;
	border: 1px solid #78bed6;
	color: #1e5264;
}

#profiles div#message.updated p {
	background: #dee6b2;
	border: 1px solid #becc66;
	color: #454d19;
}

.delete-group #profiles div#message.info p {
	background: #db7e7e;
	border: 1px solid #be3535;
	color: #1f0808;
}

/**
*-------------------------------------------------------------------------------
* @section 10.0 - Ajax Loading, Widgets, General classes
*-------------------------------------------------------------------------------
*/
