@charset "UTF-8";
/*--------------------------------------------------------------

This is the Profiles companion stylesheet for
the WordPress Twentysixteen theme.

This sheet supports the primary Profiles styles in profiles.css

If you are running as a child theme of twentysixteen this stylesheet will be
loaded by default. If you want to modify the styles the normal BP Theme Compat
hierarchy works and you can copy the file to profiles/css/ or community/css/
in your child themes root & either start over or modify the rulesets.

If you do not require the styles you can dequeue them from the themes functions file.

Please see this codex article for more information:
http://codex.profiles.org/themes/profiles-companion-stylesheets/

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Theme Structural Elements & overrides
2.0 - Navigation - General
	2.1 - Navs - Object Nav / Sub Nav (item-list-tabs)
	2.2 - Pagination
3.0 - Images
4.0 - BP Lists / Loops Generic
	4.1 - Activity Loop
		4.1.1 Whats New Activity
		4.1.2 - Activity Listing
		4.1.3 - Activity Comments
	4.2 - Members Loop
	4.3 - Groups Loop
	4.4 - Blogs Loop
5.0 - Directories - Members, Groups, Blogs, Register, activation
6.0 - Single Item screens: User Account & Single Group Screens
	6.1 - Item Headers: Global
		6.1.1 - item-header: Groups
		6.1.2 - item-header: User Accounts
	6.2 - Item Body: Global
		6.2.1 - item-body: Groups
			6.2.1.1 - Management settings screens
			6.2.1.2 - Group members list
		6.2.2 - item-body: User Accounts
			6.2.2.1 - classes, pag, filters
			6.2.2.2 - Extended Profiles
			6.2.2.3 - Groups
			6.2.2.4 - friends
			6.2.2.5 - Private Messaging Threads
			6.2.2.6 - Settings
7.0 - Forms  -  General
8.0 - Tables -  General
9.0 - Error / Success Messages
10.0 - Ajax Loading, Widgets, General classes
--------------------------------------------------------------*/
/**
*-------------------------------------------------------------------------------
* @section 1.0 - Theme - Structural Elements. overrides, Globals
*-------------------------------------------------------------------------------
*/
.profiles div.clear {
	display: none;
}

.profiles #page a {
	box-shadow: none;
	text-decoration: none !important;
}

.profiles .entry-title {
	text-align: center;
}

@media screen and (min-width: 61.5625em) {
	.profiles .entry-title {
		text-align: left;
	}
}

@media screen and (min-width: 44.375em) {
	.profiles #primary {
		float: none;
		margin: 0;
		width: auto;
	}
	.profiles #primary .entry-header {
		margin: 0;
	}
	.profiles #primary .entry-content,
	.profiles #primary .content-bottom-widgets {
		margin-left: 7.6923%;
		margin-right: 7.6923%;
	}
	.profiles .sidebar {
		float: none;
		margin-left: 0;
		padding: 0 7.6923%;
		width: auto;
	}
}

@media screen and (min-width: 61.5625em) {
	.profiles #primary {
		float: left;
		margin-right: -100%;
		width: 70%;
	}
	.profiles #primary .entry-content,
	.profiles #primary .content-bottom-widgets {
		margin-left: 0;
		margin-right: 0;
	}
	.profiles .sidebar {
		float: left;
		margin-left: 75%;
		padding: 0;
		width: 25%;
	}
}

.profiles.no-sidebar #primary {
	float: none;
	margin: 0;
	width: auto;
}

/**
*-------------------------------------------------------------------------------
* @section 2.0 - Navigation - General
*-------------------------------------------------------------------------------
*/
/**
*----------------------------------------------------------
* @section 2.1 - Navs Object Nav / Sub Nav (item-list-tabs)
*
* The main navigational elements for all BP screens
*----------------------------------------------------------
*/
#profiles div.item-list-tabs ul li.selected a {
	background: inherit;
	opacity: 1;
}

#profiles div.item-list-tabs ul {
	background-color: #f7f5e7;
	border-bottom: 1px solid rgba(234, 234, 234, 0.9);
	border-top: 1px solid rgba(234, 234, 234, 0.9);
	overflow: hidden;
	padding: 0;
}

#profiles div.item-list-tabs ul li a span {
	border-radius: 25%;
}

@media screen and (max-width: 38.75em) {
	.profiles-user #profiles #object-nav {
		background: #f7f5e7;
		border: 1px solid #eaeaea;
		overflow: visible;
		padding: 10px;
	}
	.profiles-user #profiles #object-nav ul {
		border: 0;
		height: 0;
		transition: height 0.3s ease-in-out 0.7s;
		visibility: hidden;
	}
	.profiles-user #profiles #object-nav:before {
		content: "Menu \021E9";
		display: inline;
		opacity: 0.7;
	}
	.profiles-user #profiles #object-nav:hover:before, .profiles-user #profiles #object-nav:focus:before {
		content: "Menu \021E7";
	}
	.profiles-user #profiles #object-nav:hover ul, .profiles-user #profiles #object-nav:focus ul {
		height: 320px;
		opacity: 1;
		overflow-y: auto;
		visibility: visible;
	}
	.profiles-user #profiles #subnav {
		clear: both;
	}
}

/*__ Horizontal menus __*/
#profiles #object-nav ul {
	overflow: hidden;
}

#profiles #object-nav ul li {
	float: none;
}

@media screen and (max-width: 38.75em) {
	#profiles #object-nav ul li:not(:last-child) {
		border-bottom: 1px solid #eaeaea;
	}
}

#profiles #object-nav ul li:not(.selected) a {
	opacity: 0.7;
}

@media screen and (max-width: 38.75em) {
	#profiles #object-nav ul li:not(.selected):focus, #profiles #object-nav ul li:not(.selected):hover {
		background: #f4f2df;
	}
}

@media screen and (min-width: 38.75em) {
	#profiles #object-nav ul li {
		float: left;
	}
}

#profiles div#subnav.item-list-tabs {
	margin-top: 0;
}

#profiles div#subnav.item-list-tabs ul {
	background-color: #f7f7f7;
	border-bottom: 0;
	margin-top: 5px;
	padding: 0;
}

#profiles div#subnav.item-list-tabs ul li.last {
	background: #fff;
	margin-top: 0;
	padding: 5px 5px 5px 0;
	width: 100%;
}

#profiles div#subnav.item-list-tabs ul li.last select,
#profiles div#subnav.item-list-tabs ul li.last select:focus {
	background: transparent;
	border: 0;
	outline: 0;
}

#profiles div#subnav.item-list-tabs ul li.last select,
#profiles div#subnav.item-list-tabs ul li.last label,
#profiles div#subnav.item-list-tabs ul li.last option {
	font-size: 14px;
	font-size: 0.875rem;
}

#profiles div#subnav.item-list-tabs ul li.last select {
	font-style: italic;
}

@media screen and (min-width: 38.75em) {
	#profiles div#subnav.item-list-tabs ul li.last {
		text-align: right;
	}
}

/*__ Vertical menu User Account / Group single screens __*/
@media screen and (min-width: 55em) {
	body.no-sidebar #profiles #item-header,
	body.no-sidebar #profiles #item-body {
		background: #fff;
	}
	body.no-sidebar #profiles #object-nav {
		border-right: 1px solid #ddd;
		float: left;
		margin-right: -1px;
		width: 200px;
	}
	body.no-sidebar #profiles #object-nav ul {
		background: none;
		border-bottom: 0;
		padding: 0;
	}
	body.no-sidebar #profiles #object-nav ul li {
		float: none;
		overflow: hidden;
	}
	body.no-sidebar #profiles #object-nav ul li span {
		background: #fff;
		border-radius: 10%;
		float: right;
		margin-right: 2px;
	}
	body.no-sidebar #profiles #item-body {
		border-left: 1px solid #ddd;
		overflow: hidden;
		padding: 0 0 0 20px;
		width: auto;
	}
	body.no-sidebar #profiles #item-body #subnav {
		margin: 0 0 0 -20px;
	}
	body.no-sidebar #profiles #item-body #subnav ul {
		margin-top: 0;
	}
}

@media screen and (min-width: 46.25em) {
	#main #profiles #group-create-tabs.item-list-tabs ul:before,
	#main #profiles #group-create-tabs.item-list-tabs ul:after {
		content: " ";
		display: table;
	}
	#main #profiles #group-create-tabs.item-list-tabs ul:after {
		clear: both;
	}
	#main #profiles #group-create-tabs.item-list-tabs ul {
		background: none;
		border: 0;
		border-bottom: 1px solid #ddd;
		overflow: visible;
		padding-bottom: 0;
	}
	#main #profiles #group-create-tabs.item-list-tabs ul li {
		float: left;
		width: auto;
	}
	#main #profiles #group-create-tabs.item-list-tabs ul li.selected,
	#main #profiles #group-create-tabs.item-list-tabs ul li.current {
		border: 1px solid #ddd;
		border-bottom-color: #fff;
		-webkit-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
		-webkit-border-top-left-radius: 4px;
		border-top-left-radius: 4px;
		background-clip: padding-box;
		margin-bottom: -1px;
	}
	#main #profiles #group-create-tabs.item-list-tabs ul li.selected a,
	#main #profiles #group-create-tabs.item-list-tabs ul li.current a {
		background: none;
		color: #141412;
		outline: none;
	}
	#main #profiles #subnav ul {
		border-bottom: 0;
	}
}

/**
*----------------------------------------------------------
* @section 2.2 - Pagination
*----------------------------------------------------------
*/
#profiles div.pagination {
	box-shadow: none;
	min-height: 0;
}

#profiles div.pagination:before, #profiles div.pagination:after {
	height: 0;
	width: 0;
}

#profiles div.pagination .pag-count {
	margin-left: 0;
}

#profiles div.pagination .pagination-links {
	margin-right: 0;
}

#profiles div.pagination .pagination-links span,
#profiles div.pagination .pagination-links a {
	height: auto;
	line-height: 1;
	padding: 5px;
}

#profiles div.pagination .pagination-links .prev,
#profiles div.pagination .pagination-links .next {
	background-color: transparent;
	color: inherit;
	overflow: visible;
	width: auto;
}

#profiles div.pagination .pagination-links .prev:before,
#profiles div.pagination .pagination-links .next:before {
	display: none;
}

#profiles div.pagination .pagination-links .prev {
	left: auto;
	position: static;
}

#profiles div.pagination .pagination-links .next {
	position: static;
	right: auto;
}

/**
*-------------------------------------------------------------------------------
* @section 4.0 - BP Lists / Loops Generic
*-------------------------------------------------------------------------------
*/
#profiles .item-list .activity-header,
#profiles .item-list .activity-meta {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

#profiles .activity-meta .button:focus, #profiles .activity-meta .button:hover {
	background: inherit;
	color: #000;
}

#profiles .action .generic-button a:focus, #profiles .action .generic-button a:hover {
	background: inherit;
	color: #000;
}

#profiles ul.item-list li {
	overflow: hidden !important;
}

#profiles ul.item-list li .item-avatar {
	margin-bottom: 10px;
	text-align: center;
}

@media screen and (min-width: 38.75em) {
	#profiles ul.item-list li .item-avatar {
		margin-bottom: 0;
	}
}

#profiles ul.item-list li .item-avatar a {
	border-bottom: 0;
}

#profiles ul.item-list li .item-avatar img.avatar {
	display: inline-block;
	float: none;
	margin-bottom: 10px;
}

@media screen and (min-width: 44.375em) {
	#profiles ul.item-list li .item-avatar img.avatar {
		display: block;
		float: left;
	}
}

#profiles ul.item-list li .item {
	overflow: hidden;
}

@media screen and (min-width: 46.25em) {
	#profiles ul.item-list li .item {
		margin-left: 15%;
	}
}

#profiles ul.item-list li .item span.activity {
	font-style: italic;
}

#profiles ul.item-list li .item .item-desc {
	margin-left: 0;
	width: 94%;
}

#profiles ul.item-list li .item .item-title {
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.2;
	text-align: center;
	width: 100%;
}

@media screen and (min-width: 44.375em) {
	#profiles ul.item-list li .item .item-title {
		text-align: left;
	}
}

#profiles ul.item-list li .item .item-title .update {
	display: block;
	font-size: 12px;
	font-size: 0.75rem;
	padding: 10px 0;
	text-align: left;
}

@media screen and (min-width: 61.5625em) {
	#profiles ul.item-list li .item .item-title .update {
		font-size: 14px;
		font-size: 0.875rem;
	}
}

@media screen and (min-width: 61.5625em) {
	#profiles ul.item-list li .item-avatar,
	#profiles ul.item-list li .item,
	#profiles ul.item-list li .action {
		float: left;
	}
	#profiles ul.item-list li .item {
		left: 5%;
		margin-left: 0;
		position: relative;
		width: 55%;
	}
	#profiles ul.item-list li .item .item-title {
		font-size: 22px;
		font-size: 1.375rem;
	}
}

#profiles ul.item-list li div.action {
	clear: left;
	float: none;
	margin-bottom: -20px;
	margin-left: 0;
	padding: 20px 0 5px;
	position: relative;
	text-align: left;
	top: 0;
}

@media screen and (min-width: 61.5625em) {
	#profiles ul.item-list li div.action {
		clear: none;
		float: right;
		margin-bottom: 0;
		padding: 0;
	}
}

#profiles ul.item-list li div.action div {
	display: inline-block;
	margin: 10px 0;
	width: 100%;
}

#profiles ul.item-list li div.action div a {
	display: block;
	width: 100%;
}

@media screen and (min-width: 38.75em) {
	#profiles ul.item-list li div.action div {
		margin: 0 10px 10px 0;
		width: auto;
	}
}

@media screen and (min-width: 61.5625em) {
	#profiles ul.item-list li div.action div {
		clear: right;
		float: right;
		margin: 0 0 10px 0;
	}
}

#profiles ul.item-list li div.action .meta {
	font-style: italic;
}

/**
*----------------------------------------------------------
* @section 4.1 - Activity
*----------------------------------------------------------
*/
/**
*-----------------------------------------------------
* @section 4.1.1 - Activity Whats New
*-----------------------------------------------------
*/
#profiles form#whats-new-form p.activity-greeting {
	line-height: 1.4;
}

@media screen and (max-width: 46.25em) {
	#profiles form#whats-new-form #whats-new-content {
		clear: left;
		margin: 10px 0 20px;
		padding: 10px 0 0;
	}
}

#profiles form#whats-new-form #whats-new-content.active #whats-new-options[style] #whats-new-post-in-box {
	border: 1px solid rgba(212, 208, 186, 0.5);
	float: left;
	line-height: 1.5em;
	margin-top: 12px;
	padding-left: 0.2em;
	width: 100%;
}

#profiles form#whats-new-form #whats-new-content.active #whats-new-options[style] #whats-new-post-in-box select {
	background: none;
	border: 0;
	float: right;
	margin: 0;
	min-height: 1.5em;
	padding-left: 0.4em;
}

@media screen and (min-width: 30em) {
	#profiles form#whats-new-form #whats-new-content.active #whats-new-options[style] #whats-new-post-in-box {
		width: auto;
	}
	#profiles form#whats-new-form #whats-new-content.active #whats-new-options[style] #whats-new-submit {
		float: right;
	}
}

#profiles #item-body form#whats-new-form {
	margin: 40px 0;
}

/**
*-----------------------------------------------------
* @section 4.1.2 - Activity Listing
*-----------------------------------------------------
*/
#profiles #activity-stream li {
	padding: 25px 0 15px;
}

#profiles #activity-stream li .activity-avatar {
	float: none;
	text-align: center;
}

#profiles #activity-stream li .activity-avatar a {
	display: inline-block;
}

#profiles #activity-stream li .activity-avatar a img.avatar {
	display: inline;
	float: none;
	height: 60px;
	margin-bottom: 20px;
	margin-left: 0;
	width: 60px;
}

#profiles #activity-stream li .activity-content {
	margin-left: 0;
}

#profiles #activity-stream li .activity-content .activity-header {
	font-size: 14px;
	font-size: 0.875rem;
}

@media screen and (min-width: 46.25em) {
	#profiles #activity-stream li .activity-avatar {
		float: left;
		margin-right: 10px;
		text-align: left;
	}
	#profiles #activity-stream li .activity-avatar a {
		border-bottom: 0;
	}
	#profiles #activity-stream li .activity-content {
		margin: 0;
		overflow: hidden;
	}
	#profiles #activity-stream li .activity-content .activity-header {
		font-size: 16px;
		font-size: 1rem;
	}
}

#profiles #activity-stream li.mini .activity-avatar a img.avatar {
	height: 30px;
	margin-left: 15px;
	width: 30px;
}

#profiles #activity-stream li.mini .activity-content .activity-header {
	font-size: 14px;
	font-size: 0.875rem;
}

#profiles #activity-stream .activity-content {
	margin-top: -12px;
}

#profiles #activity-stream .activity-content .activity-header {
	line-height: inherit;
	margin-right: 0;
}

#profiles #activity-stream .activity-content .activity-header p {
	background-color: #f7f7f7;
	border: 1px solid rgba(234, 234, 234, 0.6);
	margin-top: 0;
	padding: 0 0.2em;
}

#profiles #activity-stream .activity-content .activity-header img.avatar {
	display: inline-block;
	margin-bottom: 0 !important;
}

#profiles #activity-stream .activity-content .activity-meta a {
	display: block;
	margin-bottom: 5px;
}

@media screen and (min-width: 38.75em) {
	#profiles #activity-stream .activity-content .activity-meta a {
		display: inline-block;
		margin-bottom: 0;
	}
}

#profiles #activity-stream .load-more {
	background: #f7f7f7;
	border: 1px solid transparent;
	padding: 10px;
}

#profiles #activity-stream .load-more:focus, #profiles #activity-stream .load-more:hover {
	background: #f4f4f4;
	border: 1px solid rgba(159, 209, 226, 0.3);
}

#profiles #activity-stream .load-more:focus a, #profiles #activity-stream .load-more:hover a {
	font-style: italic;
}

#profiles #activity-stream .load-more a {
	display: block;
}

/* Single activity view  - activity permalink */
.activity-permalink #profiles #activity-stream li.activity-item {
	padding: 20px;
}

.activity-permalink #profiles #activity-stream li.mini .activity-header {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 40px;
}

@media screen and (min-width: 46.25em) {
	.activity-permalink #profiles #activity-stream li.mini .activity-header {
		font-size: 20px;
		font-size: 1.25rem;
	}
}

.activity-permalink #profiles #activity-stream li.mini .activity-header p {
	padding: 20px;
}

/**
*-----------------------------------------------------
* @section 4.1.3 - Activity Comments
*-----------------------------------------------------
*/
#profiles #activity-stream .activity-comments {
	border-left: 1px solid #eaeaea;
	margin-top: 5px;
}

#profiles #activity-stream .activity-comments ul {
	background: rgba(247, 247, 247, 0.6);
	margin: 15px 0 0 2px;
}

#profiles #activity-stream .activity-comments .ac-form input[type="submit"],
#profiles #activity-stream .activity-comments .ac-form .ac-reply-cancel {
	color: rgba(20, 20, 18, 0.8);
	display: inline-block;
	font-family: inherit;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: normal;
	line-height: 1.2;
	padding: 4px 10px;
	text-transform: lowercase;
	width: 100px;
}

#profiles #activity-stream .activity-comments .ac-form .ac-reply-cancel {
	border: 1px solid rgba(212, 208, 186, 0.7);
	text-align: center;
}

#profiles #activity-stream .activity-comments .ac-form .ac-reply-cancel:focus, #profiles #activity-stream .activity-comments .ac-form .ac-reply-cancel:hover {
	background: #ededed;
}

/**
*----------------------------------------------------------
* @section 4.2 - Members Loop
*----------------------------------------------------------
*/
@media screen and (min-width: 61.5625em) {
	#profiles #members-list li .item-avatar,
	#profiles #members-list li .item {
		float: left;
	}
	#profiles #members-list li .action {
		float: right;
	}
}

/**
*-------------------------------------------------------------------------------
* @section 5.0 - Directories
*-------------------------------------------------------------------------------
*/
/**
*-----------------------------------------------------------
* @subsection Registration
*-----------------------------------------------------------
*/
#profiles #signup_form.standard-form #profile-details-section,
#profiles #signup_form.standard-form #basic-details-section,
#profiles #signup_form.standard-form #blog-details-section {
	float: none;
	width: 100%;
}

@media screen and (min-width: 38.75em) {
	#profiles #signup_form.standard-form #profile-details-section,
	#profiles #signup_form.standard-form #basic-details-section,
	#profiles #signup_form.standard-form #blog-details-section {
		width: 48%;
	}
}

@media screen and (min-width: 38.75em) {
	#profiles #signup_form.standard-form #profile-details-section {
		float: right;
	}
	#profiles #signup_form.standard-form #basic-details-section {
		float: left;
	}
}

/**
*-------------------------------------------------------------------------------
* @section 6.0 - Single Item screens: User Account & Single Group Screens
*-------------------------------------------------------------------------------
*/
/**
*-----------------------------------------------------------
* @subsection 6.1 - Item Header Global
*-----------------------------------------------------------
*/
.profiles-user #profiles #item-header-content #item-meta,
.single-item.groups #profiles #item-header-content #item-meta {
	font-size: 14px;
	font-size: 0.875rem;
	text-align: left;
}

.profiles-user #profiles #item-header-content #item-meta p,
.single-item.groups #profiles #item-header-content #item-meta p {
	margin-bottom: 0.5em;
}

@media screen and (max-width: 46.25em) {
	.profiles-user main header.entry-header,
	.single-item.groups main header.entry-header {
		padding-bottom: 1rem;
	}
}

@media screen and (max-width: 38.75em) {
	.profiles-user h1,
	.profiles-user #item-header-content,
	.single-item.groups h1,
	.single-item.groups #item-header-content {
		text-align: center;
	}
}

@media screen and (max-width: 46.25em) {
	.profiles-user #profiles #item-header .generic-button,
	.single-item.groups #profiles #item-header .generic-button {
		float: none;
		margin: 1.5em 0 0 0;
	}
}

@media screen and (max-width: 38.75em) {
	.profiles-user #profiles h1,
	.single-item.groups #profiles h1 {
		margin-bottom: 0;
	}
	.profiles-user #profiles #item-header-avatar img.avatar,
	.single-item.groups #profiles #item-header-avatar img.avatar {
		margin-right: 0;
	}
	.profiles-user #profiles #item-header-content,
	.single-item.groups #profiles #item-header-content {
		width: 100%;
	}
}

/**
*-----------------------------------------------------
* @subsection 6.1.1 - item-header Groups
*
* Group Specific Item Header
*-----------------------------------------------------
*/
@media screen and (max-width: 46.25em) {
	.single-item.groups #profiles #item-header #item-meta {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 38.75em) {
	.single-item.groups #profiles div#item-header {
		display: flex;
		flex-direction: column;
	}
	.single-item.groups #profiles div#item-header #item-header-avatar {
		order: 1;
		text-align: center;
	}
	.single-item.groups #profiles div#item-header #item-header-avatar a {
		border-bottom: 0;
	}
	.single-item.groups #profiles div#item-header #item-header-avatar a img {
		display: inline-block;
		float: none;
	}
	.single-item.groups #profiles div#item-header #item-header-content {
		order: 2;
	}
	.single-item.groups #profiles div#item-header #item-actions {
		order: 3;
	}
	.single-item.groups #profiles div#item-header #item-actions h2 {
		border-bottom: 1px solid #eaeaea;
		text-align: center;
	}
}

.single-item.groups #profiles div#item-header {
	padding-bottom: 40px;
}

.single-item.groups #profiles div#item-header div#item-actions {
	margin: 0;
	width: 100%;
}

@media screen and (min-width: 38.75em) {
	.single-item.groups #profiles div#item-header div#item-actions {
		border-left: 1px solid #eaeaea;
		clear: none;
		float: right;
		padding-left: 0.2em;
		width: 30%;
	}
}

@media screen and (min-width: 46.25em) {
	.single-item.groups #profiles div#item-header div#item-actions {
		width: 40%;
	}
}

.single-item.groups #profiles div#item-header div#item-actions ul {
	margin-top: 0;
	padding-left: 0;
}

.single-item.groups #profiles div#item-header div#item-actions h2 {
	font-size: 14px;
	font-size: 0.875rem;
	padding: 0.2em;
}

@media screen and (min-width: 46.25em) {
	.single-item.groups #profiles div#item-header div#item-actions h2 {
		font-size: 16px;
		font-size: 1rem;
	}
}

@media screen and (min-width: 46.25em) {
	.single-item.groups #profiles div#item-header #item-header-avatar,
	.single-item.groups #profiles div#item-header #item-header-content {
		float: left;
	}
	.single-item.groups #profiles div#item-header #item-header-avatar {
		width: 21%;
	}
	.single-item.groups #profiles div#item-header #item-header-content {
		margin-left: 4%;
		width: 40%;
	}
	.single-item.groups #profiles div#item-header div#item-actions {
		float: right;
		width: 28%;
	}
}

/**
*-----------------------------------------------------
* @subsection 6.1.2 - Item Header User Accounts
*
* User Accounts Specific Item Header
*-----------------------------------------------------
*/
.profiles-user #profiles #item-header {
	padding: 20px 0;
}

.profiles-user #profiles #item-header #item-header-avatar {
	text-align: center;
	width: 100%;
}

.profiles-user #profiles #item-header #item-header-avatar img.avatar,
.profiles-user #profiles #item-header #item-header-avatar a {
	border-bottom: 0;
	display: inline-block;
	float: none;
}

@media screen and (min-width: 46.25em) {
	.profiles-user #profiles #item-header #item-header-avatar {
		float: left;
		width: 20%;
	}
	.profiles-user #profiles #item-header #item-header-avatar a {
		float: left;
	}
	.profiles-user #profiles #item-header #item-header-content {
		float: right;
		margin-right: 5%;
		width: 69%;
	}
}

/**
*-----------------------------------------------------------
* @subsection 6.2 - Item Body: Global
*-----------------------------------------------------------
*/
/**
*----------------------------------------------------
* @subsection 6.2.1 - Item Body Groups
*
* Groups specific item body rules -  screens
*----------------------------------------------------
*/
/**
*-----------------------------------------
* @subsection 6.2.1.1 - Group Management
*-----------------------------------------
*/
.groups #group-settings-form h4 {
	background: #555;
	color: #fff;
	padding: 0.2em;
}

.groups.edit-details #group-settings-form label {
	margin-bottom: 0;
	padding: 0.2em;
	width: 80%;
}

.groups.edit-details #group-settings-form textarea + p label {
	background: none;
	color: inherit;
	font-size: 14px;
	font-size: 0.875rem;
	width: auto;
}

.groups.edit-details #group-settings-form textarea {
	height: auto;
	min-height: 100px;
	overflow: auto;
}

.groups.group-settings #group-settings-form div.radio label {
	border: 1px solid #eaeaea;
	padding: 0.2em;
}

.groups.group-settings #group-settings-form div.radio label ul {
	color: rgba(20, 20, 18, 0.6);
	font-size: 14px;
	font-size: 0.875rem;
}

.groups.group-avatar form > p {
	margin-top: 20px;
}

.groups.manage-members #group-settings-form .item-list li {
	border-bottom: 1px solid #eaeaea;
}

.groups.manage-members #group-settings-form .item-list li img,
.groups.manage-members #group-settings-form .item-list li h5 {
	float: left;
}

.groups.manage-members #group-settings-form .item-list li img > a,
.groups.manage-members #group-settings-form .item-list li h5 > a {
	border-bottom: 0;
}

.groups.manage-members #group-settings-form .item-list li span.small {
	clear: left;
	display: block;
	float: none;
	margin-top: 10px;
}

.groups.manage-members #group-settings-form .item-list li span.small a {
	display: inline-block;
	margin: 5px 0;
	width: 100%;
}

@media screen and (min-width: 38.75em) {
	.groups.manage-members #group-settings-form .item-list li span.small a {
		width: auto;
	}
}

.groups.manage-members #group-settings-form .item-list li h5 {
	margin: 0;
}

/**
*-----------------------------------------
* @subsection 6.2.1.2 - Group members
*-----------------------------------------
*/
.groups.group-members #subnav li {
	width: 100%;
}

@media screen and (max-width: 38.75em) {
	.groups.group-members #subnav li {
		background: #fff;
		padding: 20px 0;
	}
}

.groups.group-members #subnav li #search-members-form {
	float: right;
	margin: 5px 5px 0 0;
}

@media screen and (max-width: 38.75em) {
	.groups.group-members #subnav li #search-members-form {
		margin: 0;
		width: 100%;
	}
	.groups.group-members #subnav li #search-members-form label input[type="text"] {
		width: 100%;
	}
}

/**
*-----------------------------------------------------
* @subsection 6.2.2 - Item Body User Accounts
*
* User Account specific item body rules
*-----------------------------------------------------
*/
.profiles-user .entry-title {
	margin-bottom: 0.5em;
}

/**
*--------------------------------------------
* @subsection 6.2.2.1 - classes, pag, filters
*--------------------------------------------
*/
.profiles-user #profiles table th {
	font-size: 14px;
	font-size: 0.875rem;
}

.profiles-user #profiles table td {
	font-size: 12px;
	font-size: 0.75rem;
}

@media screen and (min-width: 61.5625em) {
	.profiles-user #profiles table th {
		font-size: 16px;
		font-size: 1rem;
	}
	.profiles-user #profiles table td {
		font-size: 14px;
		font-size: 0.875rem;
	}
}

@media screen and (min-width: 75em) {
	.profiles-user #profiles table th {
		font-size: 18px;
		font-size: 1.125rem;
	}
	.profiles-user #profiles table td {
		font-size: 16px;
		font-size: 1rem;
	}
}

.profiles-user #profiles .pag-count {
	font-style: italic;
}

.profiles-user #profiles .notifications-options-nav {
	border: 1px solid rgba(212, 208, 186, 0.5);
	float: left;
	width: 100%;
}

@media screen and (min-width: 38.75em) {
	.profiles-user #profiles .notifications-options-nav {
		width: 300px;
	}
}

.profiles-user #profiles .notifications-options-nav select,
.profiles-user #profiles .notifications-options-nav input {
	border: 0;
	font-size: 14px;
	font-size: 0.875rem;
	outline: 0;
	padding: 0;
}

.profiles-user #profiles .notifications-options-nav select {
	float: left;
	margin-right: 0;
	width: 60%;
}

.profiles-user #profiles .notifications-options-nav input {
	float: right;
	font-family: inherit;
	line-height: 20px;
	width: 40%;
}

/**
	*-------------------------------------------
	* @subsection 6.2.2.2 - Extended Profiles
	*-------------------------------------------
	*/
.profiles-user #profiles .profile {
	/* Edit profile */
}

.profiles-user #profiles .profile .profiles-widget h2 {
	background: #6f6f6f;
	color: #fff;
	margin-bottom: 0;
	padding: 0.4em;
}

.profiles-user #profiles .profile .profiles-widget table {
	margin-top: 0;
}

.profiles-user #profiles .profile #profile-edit-form .button-nav:before,
.profiles-user #profiles .profile #profile-edit-form .button-nav:after {
	content: " ";
	display: table;
}

.profiles-user #profiles .profile #profile-edit-form .button-nav:after {
	clear: both;
}

.profiles-user #profiles .profile #profile-edit-form ul.button-nav {
	border-bottom: 1px solid #eaeaea;
	margin-left: 0;
}

.profiles-user #profiles .profile #profile-edit-form ul.button-nav li {
	float: left;
	margin-bottom: 0;
}

.profiles-user #profiles .profile #profile-edit-form ul.button-nav li.current {
	border: 1px solid #eaeaea;
	border-bottom-color: #fff;
	margin-bottom: -1px;
}

.profiles-user #profiles .profile #profile-edit-form ul.button-nav a {
	background: none;
	border: 0;
	font-size: 18px;
	font-size: 1.125rem;
}

.profiles-user #profiles .profile #profile-edit-form .field-visibility-settings-toggle,
.profiles-user #profiles .profile #profile-edit-form .field-visibility-settings {
	font-size: 14px;
	font-size: 0.875rem;
}

.profiles-user #profiles .profile #profile-edit-form .field-visibility-settings-close,
.profiles-user #profiles .profile #profile-edit-form .visibility-toggle-link {
	background: #555;
	color: #fff;
	padding: 0.2em 0.5em;
}

.profiles-user #profiles .profile .profiles-avatar #profiles-delete-avatar a {
	font-size: inherit;
}

/**
	*-------------------------------------------
	* @subsection 6.2.2.3 - Groups
	*-------------------------------------------
	*/
@media screen and (min-width: 77.5em) {
	.profiles-user #profiles #groups-list li .item {
		left: 5%;
		width: 50%;
	}
}

/**
	*-------------------------------------------
	* @subsection 6.2.2.5 - Private Messaging
	*-------------------------------------------
	*/
.profiles-user #profiles #message-thread a {
	border-bottom: 0;
}

.profiles-user #profiles #message-thread #message-subject {
	background: #6f6f6f;
	color: #fff;
	padding: 0.3em 0 0.3em 0.2em;
}

.profiles-user #profiles #message-thread #message-recipients {
	font-style: italic;
}

.profiles-user #profiles #message-thread #message-recipients a.confirm {
	border: 1px solid #eaeaea;
	font-style: normal;
}

.profiles-user #profiles #message-thread .message-metadata {
	overflow: hidden;
}

.profiles-user #profiles #message-thread .message-metadata img.avatar {
	float: none;
}

@media screen and (min-width: 46.25em) {
	.profiles-user #profiles #message-thread .message-metadata img.avatar {
		float: left;
	}
}

.profiles-user #profiles #message-thread .message-metadata .message-star-actions {
	float: right;
	margin-right: 5px;
	position: static;
}

.profiles-user #profiles #message-thread .message-content {
	background: #f7f7f7;
	border: 1px solid #eaeaea;
	margin: 10px 0 0 0;
	padding: 0.3em;
}

.profiles-user #profiles #message-thread #send-reply .message-content {
	background: #fff;
	border: 0;
}

.profiles-user #profiles #message-thread .alt {
	background: #fff;
}

.profiles-user #profiles #message-threads thead tr {
	background: #6f6f6f;
}

.profiles-user #profiles #message-threads tr td {
	background: #fff;
	display: inline-block;
	float: left;
}

.profiles-user #profiles #message-threads tr td.thread-star,
.profiles-user #profiles #message-threads tr td.thread-options {
	border-bottom-color: #ccc;
	border-bottom-width: 2px;
	height: 2.4em;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
}

@media screen and (max-width: 46.25em) {
	.profiles-user #profiles #message-threads tr td.thread-star,
	.profiles-user #profiles #message-threads tr td.thread-options {
		padding-top: 0;
	}
}

.profiles-user #profiles #message-threads tr td.thread-star {
	vertical-align: middle;
}

.profiles-user #profiles #message-threads tr td.thread-star .message-action-star {
	line-height: 1.2;
}

.profiles-user #profiles #message-threads tr td.bulk-select-check,
.profiles-user #profiles #message-threads tr td.thread-from {
	height: 3em;
}

@media screen and (max-width: 38.75em) {
	.profiles-user #profiles #message-threads tr td.bulk-select-check,
	.profiles-user #profiles #message-threads tr td.thread-from {
		height: 5.2em;
	}
}

.profiles-user #profiles #message-threads tr td.thread-from,
.profiles-user #profiles #message-threads tr td.thread-options {
	border-left: 0 !important;
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	width: calc(100% - 30px);
	margin-left: 0;
}

.profiles-user #profiles #message-threads tr td.thread-info {
	padding-left: 41px;
	width: 100%;
}

.profiles-user #profiles #message-threads tr td.thread-info a::after {
	content: " ‖ " attr(title);
	font-size: 12px;
	font-size: 0.75rem;
}

.profiles-user #profiles #message-threads tr td.thread-options {
	text-align: right;
}

.profiles-user #profiles #message-threads tr td.thread-options a {
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 2.2;
}

.profiles-user #profiles #message-threads tr span.from {
	display: none;
}

.profiles-user #profiles #message-threads tr span.activity {
	display: block;
	float: right;
	line-height: 2;
}

@media screen and (max-width: 38.75em) {
	.profiles-user #profiles #message-threads tr span.activity {
		clear: both;
		font-size: 11px;
		font-size: 0.6875rem;
		width: 100%;
	}
}

.profiles-user #profiles #message-threads tr.unread td {
	background: #dce5ff;
	border-color: #d4d0ba;
}

.profiles-user #profiles #message-threads th {
	display: none;
}

.profiles-user #profiles #message-threads th.bulk-select-all {
	border-bottom: 0;
	display: inline-block;
	text-align: left;
}

.profiles-user #profiles #message-threads th.bulk-select-all,
.profiles-user #profiles #message-threads td.bulk-select-check,
.profiles-user #profiles #message-threads td.thread-star {
	border-right: 0;
	width: 30px;
}

.profiles-user #profiles .acfb-holder {
	list-style: none;
}

.profiles-user #profiles .acfb-holder li {
	margin-left: 0;
}

.profiles-user #profiles .acfb-holder li.friend-tab {
	background: #edf7fa;
	border: inherit;
	margin-right: 0;
	padding: 0.5em;
}

.profiles-user #profiles .acfb-holder li.friend-tab span.p {
	padding-left: 10px;
}

.profiles-user #profiles .acfb-holder li.friend-tab span.p:focus, .profiles-user #profiles .acfb-holder li.friend-tab span.p:hover {
	color: #c82b2b;
	cursor: pointer;
}

.profiles-user #profiles .acfb-holder li.friend-tab a {
	border-bottom: 0;
	text-decoration: none;
}

.profiles-user #profiles .acfb-holder li.friend-tab a img {
	display: inline;
	height: 20px;
	vertical-align: middle;
	width: 20px !important;
}

.profiles-user #profiles #message-threads.sitewide-notices td {
	width: 100%;
}

.profiles-user #profiles #message-threads.sitewide-notices td strong {
	background: #6f6f6f;
	color: #fff;
	display: block;
	margin-bottom: 0.4em;
	padding-left: 0.2em;
}

.profiles-user #profiles #message-threads.sitewide-notices td a {
	display: inline-block;
}

.profiles-user #profiles #message-threads.sitewide-notices td:first-child {
	display: none;
}

.profiles-user #profiles #message-threads.sitewide-notices td:nth-child(2) strong {
	margin: -8px -8px 8px;
}

.profiles-user #profiles #message-threads.sitewide-notices td:first-child + td + td {
	border-bottom: 0;
}

.profiles-user #profiles #message-threads.sitewide-notices td:first-child + td + td span {
	line-height: 1;
}

.profiles-user #profiles #message-threads.sitewide-notices td:last-child {
	border-bottom-color: #b7b7b7;
	line-height: 1;
	text-align: right;
}

.profiles-user #profiles #message-threads.sitewide-notices td:last-child a:last-child {
	line-height: 0;
	margin-left: 0.7em;
	text-indent: -999em;
}

.profiles-user #profiles #message-threads.sitewide-notices td:last-child a:last-child::after {
	content: attr(title);
	display: block;
	line-height: initial;
	text-indent: 0;
}

.profiles-user .ac_results {
	background: #eee;
	padding-left: 10px;
}

.profiles-user .ac_results ul {
	margin: 0;
}

.profiles-user .ac_results li {
	margin: 10px 0;
}

.profiles-user .ac_results li:focus, .profiles-user .ac_results li:hover {
	cursor: pointer;
}

/**
	*------------------------------
	* @subsection 6.2.2.6 - Settings
	*------------------------------
	*/
.profiles-user #profiles #settings-form > p {
	font-size: 20px;
	font-size: 1.25rem;
	margin: 20px 0 10px;
}

.profiles-user #profiles table.notification-settings td.yes,
.profiles-user #profiles table.notification-settings td.no {
	vertical-align: middle;
}

.profiles-user #profiles table.profile-settings {
	width: 100%;
}

.profiles-user #profiles table.profile-settings th.field-group-name,
.profiles-user #profiles table.profile-settings td.field-name {
	width: 50%;
}

@media screen and (min-width: 46.25em) {
	.profiles-user #profiles table.profile-settings th.field-group-name,
	.profiles-user #profiles table.profile-settings td.field-name {
		width: 70%;
	}
}

.profiles-user #profiles table.profile-settings th.title,
.profiles-user #profiles table.profile-settings td.field-visibility {
	width: 30%;
}

.profiles-user #profiles table.profile-settings td.field-visibility select {
	width: 100%;
}

/**
*-------------------------------------------------------------------------------
* @section 7.0 - Forms  - General
*-------------------------------------------------------------------------------
*/
#main #profiles .standard-form li {
	float: none;
}

#main #profiles .standard-form input[type='text'],
#main #profiles .standard-form input[type='email'],
#main #profiles .standard-form input[type='password'],
#main #profiles .standard-form textarea {
	width: 100%;
}

#profiles div.activity-comments form .ac-textarea {
	background: #f7f7f7;
	border: 1px solid rgba(212, 208, 186, 0.5);
}

#profiles div.activity-comments form .ac-textarea textarea {
	background: none;
	border: 0;
}

#profiles .standard-form input[type="text"],
#profiles .standard-form input[type="email"],
#profiles .standard-form input[type="password"],
#profiles .standard-form button,
#profiles .standard-form select,
#profiles .standard-form textarea {
	border-color: rgba(212, 208, 186, 0.5);
	border-width: 1px;
}

#profiles #signup_form.standard-form div.submit {
	float: none;
}

#profiles #signup_form.standard-form div.submit input {
	margin-right: 0;
}

#profiles div.dir-search,
#profiles div.message-search,
#profiles li.groups-members-search {
	float: none;
	margin: 10px 0;
}

#profiles div.dir-search form,
#profiles div.message-search form,
#profiles li.groups-members-search form {
	border: 1px solid rgba(212, 208, 186, 0.6);
	overflow: hidden;
}

#profiles div.dir-search form label,
#profiles div.message-search form label,
#profiles li.groups-members-search form label {
	float: left;
	width: 70%;
}

#profiles div.dir-search form input[type='text'],
#profiles div.message-search form input[type='text'],
#profiles li.groups-members-search form input[type='text'] {
	float: left;
	margin: 0;
	width: 100%;
}

#profiles div.dir-search form input[type='text'],
#profiles div.dir-search form input[type='submit'],
#profiles div.message-search form input[type='text'],
#profiles div.message-search form input[type='submit'],
#profiles li.groups-members-search form input[type='text'],
#profiles li.groups-members-search form input[type='submit'] {
	font-size: 14px;
	font-size: 0.875rem;
	border: 0;
	line-height: inherit;
}

#profiles div.dir-search form input[type='text'],
#profiles div.message-search form input[type='text'],
#profiles li.groups-members-search form input[type='text'] {
	border-right: 1px solid rgba(212, 208, 186, 0.6);
	padding: 0.2em 0 0.2em 0.2em;
}

#profiles div.dir-search form input[type='submit'],
#profiles div.message-search form input[type='submit'],
#profiles li.groups-members-search form input[type='submit'] {
	float: right;
	font-weight: normal;
	padding: 0.2em 1em;
	text-align: center;
	text-transform: none;
	width: 30%;
}

@media screen and (min-width: 38.75em) {
	#profiles div.dir-search,
	#profiles div.message-search,
	#profiles li.groups-members-search {
		float: right;
		margin-bottom: 5px !important;
	}
	#profiles div.dir-search form label,
	#profiles div.dir-search form input[type='text'],
	#profiles div.dir-search form input[type='submit'],
	#profiles div.message-search form label,
	#profiles div.message-search form input[type='text'],
	#profiles div.message-search form input[type='submit'],
	#profiles li.groups-members-search form label,
	#profiles li.groups-members-search form input[type='text'],
	#profiles li.groups-members-search form input[type='submit'] {
		width: auto;
	}
}

@media screen and (min-width: 75em) {
	#profiles .dir-search form input[type='text'],
	#profiles .message-search form input[type='text'] {
		font-size: 16px;
		font-size: 1rem;
	}
	#profiles .dir-search form input[type='submit'],
	#profiles .message-search form input[type='submit'] {
		font-size: 16px;
		font-size: 1rem;
	}
}

/**
*-------------------------------------------------------------------------------
* @section 8.0 - Tables - General
*-------------------------------------------------------------------------------
*/
#profiles table {
	font-size: 14px;
	font-size: 0.875rem;
	margin: 20px 0;
}

#profiles table tr th {
	background: #6f6f6f;
	border-color: #b7b7b7;
	color: #fff;
}

#profiles table p {
	margin-bottom: 0.5em;
}

@media screen and (min-width: 55em) {
	#profiles table {
		font-size: 16px;
		font-size: 1rem;
	}
}

/*__ User Account tables __*/
#profiles .notifications th,
#profiles .messages-notices th {
	width: 30%;
}

#profiles .notifications th.bulk-select-all,
#profiles .messages-notices th.bulk-select-all {
	text-align: center;
	width: 10%;
}

#profiles .notifications .bulk-select-check,
#profiles .notifications .thread-star,
#profiles .messages-notices .bulk-select-check,
#profiles .messages-notices .thread-star {
	text-align: center;
}

#profiles .notifications .notification-actions,
#profiles .notifications td.thread-options,
#profiles .messages-notices .notification-actions,
#profiles .messages-notices td.thread-options {
	text-align: center;
}

#profiles .notifications .notification-actions a,
#profiles .notifications td.thread-options a,
#profiles .messages-notices .notification-actions a,
#profiles .messages-notices td.thread-options a {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#profiles .notifications td .button,
#profiles .messages-notices td .button {
	border: 0;
	display: block;
	padding: 0;
	text-align: center;
}

/**
*-------------------------------------------------------------------------------
* @section 9.0 - Error / Success messages
*-------------------------------------------------------------------------------
*/
#profiles div#message p {
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: bold;
}

#profiles div#message.info p {
	background: #c6e4ee;
	border: 1px solid #78bed6;
	color: #1e5264;
}

#profiles div#message.updated p {
	background: #dee6b2;
	border: 1px solid #becc66;
	color: #454d19;
}

.delete-group #profiles div#message.info p {
	background: #db7e7e;
	border: 1px solid #be3535;
	color: #1f0808;
}

/**
*-------------------------------------------------------------------------------
* @section 10.0 - Ajax Loading, Widgets, General classes
*-------------------------------------------------------------------------------
*/
#profiles .acfb-holder li.friend-tab {
	background: #9fd1e2;
	border: inherit;
}
